@import "leaflet/dist/leaflet.css";
// Cores da Vivere
:root {
  --vivere-orange: #ff6600; // Laranja vibrante
  --vivere-black: #1a1a1a;  // Preto suave para texto e menus
  --vivere-white: #ffffff;
  --vivere-gray: #f4f4f4;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--vivere-gray);
  font-family: 'Roboto', sans-serif;
}